body{
background: rgb(228, 180, 108);
}


.nav{   
   
}

.header{
    
}

a{
    color: aliceblue;
    
}

a:active{

    color: blue;
}

a:hover{

    color: aqua;

}

.wrapper {
    background: rgb(139, 46, 46);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

