body{
    background: maroon;
}

h1, h2{
font-size: 30px;
text-align: center;
color: red;
}


img{
   align-self: center;
    height: 20%;
    width: 20%;
}


div{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: yellow;
    
    
}

a{
    text-align: right;
}