*{
	font-family: Fjalla One;
  margin: 0;
	border: 0;
	padding: 0;
	color: white;
}

html{
  background-color: white;
}

.ptable table{
	margin: 30px auto;
	border-collapse: collapse;
}

.ptable{
	margin: 0px 0% 30px 0%;
}

th, td {
    padding: 10px;
}

th{
	background-color: black;
	color: yellow;
}

.headin{
	text-align: center;
	text-decoration: none;
	color: yellow;
	margin: 30px;
	display: block;
}

.wpos{
	text-align: center;
}

.wpos td{
	color: red;
}

.pos{
	text-align: center;
}

.pos td{
	color:black;
}

table .col{
	border-bottom: 1px solid #FFFFFF;
}

.wpos:hover{
	background-color: #77ff21;
}

.wpos:hover td{
	color: #000000;
}

.pos:hover{
	background-color: #ff7b21;
}

.pos:hover td{
	color: #000000;
}